@model FromLocalsToLocals.ViewComponents.ContactBody.ContactBodyVM

<style>
    .text {
        display: block;
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>

<a href="#" class="list-group-item">
     <div class="media">
         <div class="pull-left">
             @if (Model.Image != null)
             {
                 <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" alt="avatar" class="img-circle"/>
             }
             else
             {
                <img class="img-circle" src="~/Assets/profile.png" alt="avatar"/>
             }
         </div>
         <div class="media-body">
             <h4 class="media-heading">@Model.Title <small><i class="fa fa-clock-o"></i>@Model.Date</small></h4>
             <small class="text">@Model.LastMsg</small>
         </div>
     </div>
</a>
