@{
    ViewData["Title"] = "About Us";
}

<h1 style="text-align: center; font-size: 30px;">About Us</h1>
<hr/>

<div class="container-fluid">
    <div class="col-6">
        <p style="float: left;"> <img src="~/Assets/vendor.png" class="rounded float-left" style="height: 250px; width: 550px"></p>
    </div>
    <div class="col">
        <p style="margin: 10px; font-size: 18px;">
            Our aim to support local vendors, both during and after the coronavirus crisis. We seek to prove that local vendors offer the same price and quality for products also offered by big companies.
            We want to remind people of their local sellers and introduce them to newcomers.
        </p>
    </div>
</div>
