@model IEnumerable<FromLocalsToLocals.Models.Vendor>


@{
    ViewData["Title"] = "Home Page";
}
<div class="row" style="background-color: #C0C0C0; background: url(/Assets/vendorMix.png);">
    <div class="container-fluid" style="background-size: cover;">
        <section>
            <div class="container" style="margin-top: 65px; margin-bottom: 65px;">
                <header>
                    <p class="text-center text-capitalize mb-lg-1 font-weight-bold" style="font-size: 40px; font-family: 'Times New Roman';">Support your local sellers</p>
                </header>
                <footer class="text-center">
                    <a class="btn btn-danger" role="button" asp-area="" asp-controller="Vendors" asp-action="Index" style="width: 130px;">Go</a>
                    <a class="btn btn-outline-danger" role="button" asp-area="" asp-controller="Home" asp-action="AboutUs" style="width: 130px;">Read More</a>
                </footer>
            </div>
        </section>
    </div>
</div>
<p id="mapTitle" class="text-center font-weight-bold mt-lg-5" style="font-size: 20px;">Discover all nearby vendors with just a few clicks.</p>
<div class="container">
    <div class="row mb-3">
         @Html.Partial("_Map", Model)
    </div>
</div>
<p class="text-center font-weight-bold mb-3 mt-lg-5" style="font-size: 20px;">Experience all the finest products around you.</p>
<hr />
<div class="container w-50">
    <div class="row">
        <div class="col">
            <div class="card" style="background-color: transparent;">
                <div class="card-body">
                    <p class="text-center">
                        <img src="~/Assets/home.png" style="width: 43%; height: 43%;" />
                    </p>
                    <p class="text-center">Get to know the locals</p>
                    <p class="text-center">
                        <a class="btn btn-outline-secondary" role="button" style="width: 130px;" href="#mapTitle">Discover</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="background-color: transparent;">
                <div class="card-body">
                    <p class="text-center">
                        <img src="~/Assets/hands.png" style="width: 50%; height: 50%;" />
                    </p>
                    <p class="text-center">Register your initiative</p>
                    <p class="text-center">
                        <a class="btn btn-outline-secondary" role="button" style="width: 130px;" asp-controller="Account" asp-action="Register">Join</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
