.card {
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    max-height: 450px;
    max-width: 290px;
    min-height: 450px;
    min-width: 140px;
    overflow: hidden;
}

.card-picture {
    align-self: center;
    border-radius: 50%;
    height: 150px;
    width: 160px;
}