.card {
    overflow: hidden;
    max-height: 450px;
    min-height: 450px;
    max-width: 290px;
    min-width: 140px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-picture {
    width: 160px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
}


