@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
}

body {
    background: -webkit-repeating-linear-gradient(-45deg, #ccccbbff, #ccba70ff, #ccba8bff, #ccbaa9ff, #ccccccff);
    background-size: 400%;
    height: inherit;
}

.error-page {
    align-items: center;
    background: #fff;
    bottom: 20%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    display: inherit;
    justify-content: center;
    left: 17%;
    position: inherit;
    right: 17%;
    top: 10%;
}

.error-page .content {
    max-width: 600px;
    text-align: center;
}

.content h1 {
    color: #cccccc;
    font-size: 18vw;
    line-height: 1em;
    position: relative;
}

.content h1:after {
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: transparent;
    animation: animate 10s ease-in-out infinite;
    background-size: 400%;
    content: attr(data-text);
    left: 0;
    position: absolute;
    right: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
    top: 0;
}

@keyframes animate {
    0% { background-position: 0 0; }

    25% { background-position: 100% 0; }

    50% { background-position: 100% 100%; }

    75% { background-position: 0 100%; }

    100% { background-position: 0 0; }
}

.content h4 {
    color: #000;
    font-size: 2em;
    margin-bottom: 20px;
    max-width: 600px;
    text-transform: uppercase;
}

.content p {
    color: #0d0d0d;
    font-size: 1.2em;
}

.content .btns {
    display: inline-flex;
    margin: 25px 0;
}

.content .btns a {
    border: 2px solid #ccccbbff;
    border-radius: 25px;
    color: #ccccccff;
    display: inline-block;
    font-weight: 500;
    margin: 0 10px;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.content .btns a:hover {
    background: #ccccccff;
    color: #fff;
}


footer { display: none; }


header { display: none; }