.pagination > li > a {
    background-color: white;
    color: #CCBA8B;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    background-color: #eee;
    border-color: #ddd;
    color: #CCBA8B;
}

.pagination > .active > a {
    background-color: #CCBA8B !Important;
    border: solid 1px #CCBA8B !Important;
    color: white;
}

.pagination > .active > a:hover {
    background-color: #CCBA8B !Important;
    border: solid 1px #CCBA8B;
}