.wrapper {
    display: block;
    position: relative;
}

.reveal-eye {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    right: 1px;
    top: 10px;
    bottom: 1px;
    z-index: 2;
    width: 30px;
    background: #fff url(https://dtzbdy9anri2p.cloudfront.net/cache/b55f544d09a0872a74b4427ce1fe18dd78418396/telerik/img/dist/reveal-password.png) 50% 50% no-repeat;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease 0s, visibility 0s linear .2s;
}

    .reveal-eye.is-visible {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: opacity .2s ease 0s, visibility 0s linear 0s;
    }
