.wrapper {
    display: block;
    position: relative;
}

.reveal-eye {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background: #fff url(https://dtzbdy9anri2p.cloudfront.net/cache/b55f544d09a0872a74b4427ce1fe18dd78418396/telerik/img/dist/reveal-password.png) 50% 50% no-repeat;
    bottom: 1px;
    cursor: pointer;
    opacity: 0;
    position: relative;
    position: absolute;
    right: 1px;
    top: 35px;
    transition: opacity .2s ease 0s, visibility 0s linear .2s;
    user-select: none;
    visibility: hidden;
    width: 30px;
    z-index: 2;
}

.reveal-eye.is-visible {
    display: block;
    opacity: 1;
    transition: opacity .2s ease 0s, visibility 0s linear 0s;
    visibility: visible;
}