ul li:nth-child(n+11) {
    display: none;
}

/* For desktop: */
.reviewColumn {
    width: 66.66%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="reviewColumn"] {
        width: 100%;
    }
}
