/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

p {
    margin-right: 20px;
    text-align: justify;
}

p.average {
    color: green;
    font-weight: bold;
    font-size: 65px;
}

span.five {
    color: dimgray;
    font-weight: bold;
    font-size: 65px;
}

/* Reviews list template*/
card.reviewsDisplay {
    overflow: hidden;
    word-wrap: break-word;
}

.checked {
    color: orange;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: whitesmoke;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/*Leaflet marker custom control ("popup")*/
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width:200px;
}

.info h4 {
    margin: 0 0 5px;
    color: #916814;
    font-weight:bolder;
}

/*Close button */
button.boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    margin: 2px;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #4a1515;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
}

.boxclose:before {
    content: "×";
    color: white;
}

.star {
    color: orange;
    font-size: 2.0rem;
}

.star::before {
    content: '\2606'; /* star outline */
    cursor: pointer;
}

.star.rated::before {
    /* the style for a selected star */
    content: '\2605'; /* filled star */
}
        
.stars {
    counter-reset: rateme 0;
    font-size: 2.0rem;
    font-weight: 900;
}

.star.rated {
    counter-increment: rateme 1;
}

img.userImage.mr-3{
    border-radius: 50%;
}

.center {
    position: absolute;
    left: 25%;
    top: 10%;
}


.time {
    margin-left: auto;
}

.loader {
    border-top: 16px solid #cc9900;
    border-right: 16px solid #666699;
    border-bottom: 16px solid #339966;
    border-left: 16px solid #cc6600;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    top: 50%;
    left: 50%;
    position: absolute;
    margin: -68px 0px 0px -68px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}