@model FromLocalsToLocals.Web.ViewModels.CreateEditVendorVM
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = _localizer["Create"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-4" style="text-align: center;">@_localizer["Create a Service"]</h2>
<hr />
<div class="container-fluid">
    @await Html.PartialAsync("_ServiceAddEdit", Model)
</div>

