@model FromLocalsToLocals.Models.Vendor

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-4" style="text-align: center;">Edit a Service</h2>
<hr />

<div class="container">
    @Html.Partial("_ServiceAddEdit", Model)
</div>

<div>
    <a asp-action="MyVendors">Back to List</a>
</div>

