@model FromLocalsToLocals.Models.ViewModels.PostVM
@inject SignInManager<AppUser> signinManager
<div class="row">


    <nav class="navbar navbar-expand-lg navbar-light bg-white w-100" style="color: gray; border-radius: 4px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse myNav" id="navbarNav">
            @if(signinManager.IsSignedIn(User)){
            <a class="text-center" style="font-size: 19px;width:50%;" asp-route-tabname="MyFeed" asp-controller="Feed" asp-action="SwitchTabs">My Feed</a>
            <a class="text-center" style="font-size: 19px;width:50%;" asp-route-tabname="AllFeed" asp-controller="Feed" asp-action="SwitchTabs">All Feed</a>
            }
        </div>
    </nav>
</div>

@await Component.InvokeAsync("NewsFeed", Model);