@using FromLocalsToLocals.Web.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@model FromLocalsToLocals.Web.ViewModels.FeedVM
﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@inject UserManager<AppUser> userManager

@{
    var user = await userManager.GetUserAsync(User);
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/Posts.css">
<div style="background: #343a40; display: flex; margin: -25px -15px 0px -15px; padding: 10px;">
    @if (user != null)
    {
        <a class="text-center text-white" style="font-size: 19px; width: 50%;" href="/Feed/SwitchTabs?tabname=MyFeed">My Feed</a>
        <a class="text-center text-white" style="font-size: 19px; width: 50%;" href="/Feed/SwitchTabs?tabname=AllFeed">All Feed</a>
    }
</div>

@if (user != null && user.Vendors.Count > 0)
{
    @await Component.InvokeAsync("CreatePost", new CreatePostVM {User = user, DisplayInDetails = false})
}
@await Component.InvokeAsync("NewsFeed", new FeedVM {ActiveUser = user, DisplayInDetails = false})