@model FromLocalsToLocals.Models.ViewModels.CreateEditVendorVM

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyCPxOjZ_WSRa0zBceLwlDmTfLoJha8MYYg"></script>

<div class="row">
    <div class="col-sm">
        <form asp-action="@Html.ViewContext.RouteData.Values["action"]"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <textarea asp-for="About" class="form-control" rows="3"></textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <div>
                    <div class="input-group">
                        <input asp-for="Address" class="form-control" id="search_input" placeholder="Type address..." runat="server">
                        <button type="button" class="btn btn-info" onclick="convertAddressToLatLng()">Show in the map</button>
                    </div>
                </div>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorType" class="control-label"></label>
                @Html.DropDownListFor(m => m.VendorType,
                     new SelectList(Enum.GetValues(typeof(FromLocalsToLocals.Utilities.VendorType))))
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="Image" class="form-control" type="file" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-success" />
            </div>
        </form>
    </div>
    <div class="col-sm">
        <div id="mapid" style="width:inherit;min-height:400px; position: relative; outline: none;"></div>
        <button style="width:inherit;margin-top:5px;" type="button" class="btn btn-success" onclick="convertLatLngToAddress()"> Confirm Location </button>
    </div>
</div>

<script>
    var center = [55.385550, 24.046824];
    var zoom = 6.4;
</script>
<script src="~/js/createMap.js"></script>
<script src="~/js/editServiceMap.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}