@model ErrorViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Error";
}

<html lang="en" dir="auto">


<head>
    <meta charset="utf-8" />
    <link href="~/css/error.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="error-page">
        <div class="content">
            <h1 data-text="404">404</h1>
            <h4 data-text="Oops! Something went wrong">Opps! Something went wrong</h4>
            <p>Sorry, the current page you are looking doesn't work properly!</p>
            <div class="btns">
                <a asp-controller="Home" asp-action="Index">return home</a>
                <a asp-controller="Home" asp-action="ReportBug">report problem</a>
            </div>
        </div>
    </div>
</body>

</html>