<h1 class="mt-4">Report submitted successfully!</h1>
<a class="btn btn-lg btn-primary text-light" asp-controller="Home" asp-action="Index">To the homepage</a>
<div class="row">
    <img src="https://cdni.iconscout.com/illustration/premium/thumb/coworking-business-team-jumping-and-celebrating-success-2741512-2289795.png" alt="success-image" />
</div>