@model FromLocalsToLocals.ViewModels.RegisterVM

@{
    ViewBag.Title = "User Registration";
}

<head>
    <link href="~/css/revealEyeLogin.css" rel="stylesheet" type="text/css">
</head>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="modal fade" tabindex="-1" id="registerModal"
                 data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg center" style="width: 45%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Register</h4>
                            <a href='javascript:history.go(-1)' class="Button">X</a>
                        </div>
                        <div class="modal-body">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group mt-3 mb-3">
                                <div class="input-group">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <span class="fa fa-envelope"  style="width: 20px;" ></span>
                                        </span>
                                    </div>
                                    <input asp-for="Email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" />
                                </div>
                            </div>
                            <div class="form-group mt-3 mb-3">
                                <div class="input-group">
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">
                                            <span class="fa fa-user"  style="width: 20px;" ></span>
                                        </span>
                                    </div>
                                    <input asp-for="Username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon2" />
                                </div>
                            </div>
                            <div class="form-group, wrapper mt-3 mb-3">
                                <div class="input-group">
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3">
                                            <span class="fa fa-lock"  style="width: 20px;" ></span>
                                        </span>
                                    </div>
                                    <input asp-for="Password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon3" />
                                </div>
                            </div>
                            <div class="form-group, wrapper mt-3 mb-4">
                                <div class="input-group">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon4">
                                            <span class="fa fa-lock" style="width: 20px;"></span>
                                        </span>
                                    </div>
                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" aria-label="ConfirmPassword" aria-describedby="basic-addon4" />
                                </div>

                            </div>

                            <div class="modal-footer">
                                Already have an account? <a type="button" class="btn-link" asp-controller="Account" asp-action="Register"> Login now!</a>
                            </div>

                            <button type="submit" class="btn btn-success btn-block">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#registerModal').modal('show');
    });
</script>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="~/js/revealEye.js"></script>