@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewBag.Title = _localizer["Reset password confirmation"];
}

}
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="modal fade" tabindex="-1" id="loginModal"
                 data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Login</h4>
                            <a href='javascript:history.go(-1)' class="Button">x</a>
                        </div>
                        <div class="modal-body">
                            <p> @_localizer["Your password has been reset. Please"] @Html.ActionLink("" + _localizer["click here to log in"].Value, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#loginModal').modal('show');
    });
</script>