@model FromLocalsToLocals.ViewModels.ResetPasswordVM


@{
    ViewBag.Title = "Reset password";
}

<h2>@ViewBag.Title.</h2>

<head>
    <link href="~/css/revealEye.css" rel="stylesheet" type="text/css">
</head>



@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Reset your password.</h4>
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group, wrapper">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="form-group, wrapper">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Reset" />
        </div>
    </div>
}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="~/js/revealEye.js"></script>
